<!DOCTYPE html>
<html>
<head>
<title>Etusivu</title>
</head>
<body>
<table>
<tr>
<td>Saldo:</td>
<td id="saldo">0</td>
<td>€</td>
</tr>
</table>
<table>
<tr>
<td><a href="Etusivu.html">Etusivu</a></td>
<td><a href="Ostamusiikkia.html">Kauppa</a></td>
<td><a href="Kirjasto.html">Kirjasto</a></td>
</tr>
</table>
<h1>ETUSIVU</h1>
<h1>Suosittelemme</h1>
<tr th:each="kappale : ${suositukset}">
<p th:text="${kappale.id}"></p>
<p th:text="${kappale.nimi}"></p>
<p th:text="${kappale.vuosi}"></p>
<p th:text="${kappale.kesto}"></p>
<p th:text="${kappale.artisti}"></p>
<p th:text="${kappale.albumi}"></p>
</tr>
<h1>Viimeksi eniten kuuntelemasi kappaleet</h1>
<tr th:each="kappale : ${viimeksikuunnellut}">
<p th:text="${kappale.id}"></p>
<p th:text="${kappale.nimi}"></p>
<p th:text="${kappale.vuosi}"></p>
<p th:text="${kappale.kesto}"></p>
<p th:text="${kappale.artisti}"></p>
<p th:text="${kappale.albumi}"></p>
</tr>
</body>
</html>